body{
	background: black;
	font-family: Verdana, Tahoma, sans-serif;
	font-size: 100%;
	color: white;
}

head{
	
}

#wrapper {
	width: 1400px;
	margin: 0 auto;
	background-color: #97d186;
	color: white;
}